.MessageConfirmationTemplate {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  margin-bottom: 0.5rem;

  & .MessageConfirmationTemplate__title {
    color: color-link("MessageConfirmationTemplate", "text", "primary");
    font-weight: bold;
    font-size: 2rem;
  }

  & .MessageConfirmationTemplate__message {
    color: color-link("MessageConfirmationTemplate", "text", "secondary");
    font-size: 1.5rem;
  }
}