.Chip {
  background-color: color-link("Chip", "background", "primary");

  padding: 0.2rem 1.5rem;

  display: flex;
  flex-direction: row;

  transition: background-color 0.2s;

  & .Chip__remove {
    
  }

  // --- Modifiers ---
  &.removable {

  }

  &.disabled {
    background-color: color-link("Chip", "background", "disabled");

    pointer-events: none;
  }
}