.StopRecordButton {
  $transition: 0.2s;

  & .StopRecordButton__center {
    background-color: color-link-2("text-primary");

    transition: background-color $transition;
  }

  &:hover {
    & .StopRecordButton__center {
      background-color: color-link-2("selected-primary");
    }
  }

  &.disabled {
    & .StopRecordButton__center {
      background-color: color-link-2("text-disabled");
    }
  }
}
