.StopRecordButton {
  $transition: 0.2s;

  & .StopRecordButton__center {
    background-color: color-link("StopRecordButton", "text", "primary");

    transition: background-color $transition;
  }

  &:hover {
    & .StopRecordButton__center {
      background-color: color-link("StopRecordButton", "accent", "primary");
    }
  }

  &.disabled {
    & .StopRecordButton__center {
      background-color: color-link("StopRecordButton", "text", "disabled");
    }
  }
}
