.ExpandIcon {
    transform: rotateZ(0deg);

    transition: transform 0.2s ease-in-out;

    & .ExpandIcon__icon {
        width: 2rem;
        height: 2rem;
    }

    &.expanded {
        transform: rotateZ(-180deg);
    }
}