.NormalButton.NormalButton {
  $transition-time: 0.2s;

  font-weight: 400;
  font-size: 1.7rem;

  transition: color $transition-time, box-shadow $transition-time,
    background-color $transition-time;

  // --- Text Color Modifiers ---

  &.text-color-primary {
    color: color-link-2("text-primary");
  }

  &.text-color-secondary {
    color: color-link-2("text-secondary");
  }

  // --- Appearance Modifiers ---

  &.appearance-outlined {
    box-shadow: 0 0 0 1px color-link-2("accent-tertiary");

    // --- Mode modifiers ---
    &.mode-error {
      box-shadow: 0 0 0 1px color-link-2("error-primary");

      &:hover {
        box-shadow: 0 0 0 1px color-link-2("error-secondary");
      }

      &.disabled {
        box-shadow: 0 0 0 1px color-link-2("error-disabled");
      }
    }

    &.mode-success {
      box-shadow: 0 0 0 1px color-link-2("success-primary");

      &:hover {
        box-shadow: 0 0 0 1px color-link-2("success-secondary");
      }

      &.disabled {
        box-shadow: 0 0 0 1px color-link-2("success-disabled");
      }
    }

    &.mode-warning {
      box-shadow: 0 0 0 1px color-link-2("warning-primary");

      &:hover {
        box-shadow: 0 0 0 1px color-link-2("warning-secondary");
      }

      &.disabled {
        box-shadow: 0 0 0 1px color-link-2("warning-disabled");
      }
    }

    &.mode-error, &.mode-warning, &.mode-success {
      &:hover {
        color: color-link-2("text-tertiary");
      }
    }

    padding: 0.1rem 0.7rem;

    border-radius: 0.2rem;
  }

  &.appearance-solid {
    padding: 0.2rem 1.5rem;
    background-color: color-link-2("info-primary");

    box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.25);

    // --- Mode modifiers ---
    &.mode-error {
      background-color: color-link-2("error-primary");

      &:hover {
        background-color: color-link-2("error-secondary");
      }

      &.disabled {
        background-color: color-link-2("error-disabled");
      }
    }

    &.mode-success {
      background-color: color-link-2("success-primary");

      &:hover {
        background-color: color-link-2("success-secondary");
      }

      &.disabled {
        background-color: color-link-2("success-disabled");
      }
    }

    &.mode-warning {
      background-color: color-link-2("warning-primary");

      &:hover {
        background-color: color-link-2("warning-secondary");
      }

      &.disabled {
        background-color: color-link-2("warning-disabled");
      }
    }

    &:hover {
      color: color-link-2("text-tertiary");
      background-color: color-link-2("info-secondary");
    }

    &.disabled {
      background-color: color-link-2("info-disabled");
    }
  }

  &:hover {
    color: color-link-2("selected-primary");
  }

  &.disabled {
    color: color-link("text-disabled");

    &.appearance-outlined {
      box-shadow: 0 0 0 1px color-link("bg-disabled");
    }
  }
}
