#App {
  position: relative;

  height: 100%;
  width: 100%;

  & .App__overlay-container {
    height: 100%;
    position: relative;
    width: 100%;

    display: flex;
    flex-direction: column;

    perspective: 1200px;
  }

  & .App__route-transition {
    flex-grow: 1;
    width: 100%;
  }

  & .App__route-view {
    flex-grow: 1;
    width: 100%;

    display: flex;
    flex-direction: column;
  }
}

.os-content {
  height: 100% !important;
  display: flex !important;
  flex-direction: column !important;
}
