#App {
    
}


// TODO: remove this
.Container {
    position: relative;
}

// This doesn't do shit
.page {
    position: absolute;
    left: 15px;
    right: 15px;
}

.page-enter {
    position: absolute;
    opacity: 0;
    transform: scale(1.1);
}

.page-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
}

.page-exit {
    opacity: 1;
    transform: scale(1);
}

.page-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}



@keyframes moveFromRight {
    from { transform: translateX(100%); }
}
@keyframes scaleDown { 
    to { opacity: 0; transform: scale(.8); }
}

.scale-enter, .scale-exit {
  position: absolute;
}
.scale-enter-active {
  animation: moveFromRight 300ms ease both;
  z-index: 2;
}
.scale-exit-active {
  animation: scaleDown 300ms ease both;
  z-index: 1;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeOut { 
    to { opacity: 0 }
}

.fade-enter, .fade-exit {
    position: absolute;
}
.fade-enter-active {
    animation: fadeIn 300ms ease both;
    z-index: 2;
}
.fade-exit-active {
    animation: fadeOut 300ms ease both;
    z-index: 1;
}