#App {
    position: relative;

    height: 100%;
    width: 100%;

    & .App__overlay-container {
        height: 100%;
        position: relative;
        width: 100%;
    
        display: flex;
        flex-direction: column;

        perspective: 1200px;
    }
    
    & .App__route-transition {
        flex-grow: 1;
        width: 100%;
    }
    
    & .App__route-view {
        flex-grow: 1;
        width: 100%;

        display: flex;
        flex-direction: column;
    }
}

.os-content {
    height: 100% !important;
    display: flex !important;
    flex-direction: column !important;
}

// TODO: remove this
.Container {
    position: relative;
}

// This doesn't do shit
.page {
    position: absolute;
}

.page-enter {
    position: absolute;
    opacity: 0;
    transform: scale(1.1);
}

.page-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
}

.page-exit {
    opacity: 1;
    transform: scale(1);
}

.page-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}



@keyframes moveFromRight {
    from { transform: translateX(100%); }
}
@keyframes scaleDown { 
    to { opacity: 0; transform: scale(.8); }
}

.scale-enter, .scale-exit {
  position: absolute;
}
.scale-enter-active {
  animation: moveFromRight 300ms ease both;
  z-index: 2;
}
.scale-exit-active {
  animation: scaleDown 300ms ease both;
  z-index: 1;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeOut { 
    to { opacity: 0 }
}

.fade-enter, .fade-exit {
    position: absolute;
}
.fade-enter-active {
    animation: fadeIn 1000ms ease both;
    z-index: 2;
}
.fade-exit-active {
    animation: fadeOut 1000ms ease both;
    z-index: 1;
}



@keyframes slideOut {
    0% { 
        background-color: rgba(112, 112, 112, 0); 
    }
    25% { 
        opacity: .5; 
        transform: translateZ(-500px); 
        background-color: rgba(112, 112, 112, 0.2); 
    }
    75% { 
        opacity: .5; 
        transform: translateZ(-500px) translateX(-200%); 
        background-color: rgba(112, 112, 112, 0.2); 
    }
    100% { 
        opacity: .5; 
        transform: translateZ(-500px) translateX(-200%); 
        background-color: rgba(112, 112, 112, 0); 
    }
}

@keyframes slideIn {
    0% { 
        opacity: .5; 
        transform: translateZ(-500px) translateX(200%); 
        background-color: rgba(112, 112, 112, 0); 
    }
    25% { 
        opacity: .5; 
        transform: translateZ(-500px) translateX(200%); 
        background-color: rgba(112, 112, 112, 0.2); 
    }
    75% { 
        opacity: .5; 
        transform: translateZ(-500px); 
        background-color: rgba(112, 112, 112, 0.2); 
    }
    100% { 
        opacity: 1; 
        transform: translateZ(0) translateX(0); 
        background-color: rgba(112, 112, 112, 0); 
    }
}


.slide-exit-active {
    position: absolute;
    animation: slideOut 1000ms both ease;
    overflow: hidden;
    height: 100vh;
}

.slide-enter-active {
    position: absolute;
    animation: slideIn 1000ms both ease;
    overflow: hidden;
    height: 100vh;
}