.BaseModal {
  @include register-fade-transition("base-modal-animation", 200ms);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  & .BaseModal__container {
    width: 100%;
    height: 100%;

    pointer-events: none;

    & .BaseModal__content {
      pointer-events: all;

      z-index: 0;
    }
  
    & .BaseModal__background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  
      background-color: hsla(0, 0%, 0%, 0.5);
      backdrop-filter: blur(5px);

      pointer-events: all;
  
      z-index: -1;
    }
  }
}