[submodule "core-lib/lib/Catch2"]
	path = core-lib/external/Catch2
	url = git@github.com:catchorg/Catch2.git
[submodule "core-lib/lib/CLI11"]
	path = core-lib/external/CLI11
	url = git@github.com:CLIUtils/CLI11.git
