[submodule "core-lib/lib/Catch2"]
	path = core-lib/external/Catch2
	url = git@github.com:catchorg/Catch2.git
[submodule "core-lib/lib/CLI11"]
	path = core-lib/external/CLI11
	url = git@github.com:CLIUtils/CLI11.git
[submodule "core-lib/external/liquid-dsp"]
	path = core-lib/external/liquid-dsp
	url = git@github.com:jgaeddert/liquid-dsp.git
[submodule "core-lib/external/AudioFile"]
	path = core-lib/external/AudioFile
	url = git@github.com:adamstark/AudioFile.git
