.DiagonalDividerLine {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin-top: 1rem;
  margin-bottom: 1rem;

  & .DiagonalDividerLine__line {
    position: relative;
    font-size: 1px;
    flex-grow: 1;
    flex-shrink: 1;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      background-color: color-link("DiagonalDividerLine", "background", "primary");
    }

    transform: rotateZ(25deg);
  }
}