.CatalogConfigureModal {
  & .CatalogConfigureModal__title {
    font-size: 2rem;
    font-weight: bold;
    color: color-link("CatalogConfigureModal", "text", "primary");
  }

  & .CatalogConfigureModal__form {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "main cover-art";

    column-gap: 1.7rem;

    & .CatalogConfigureModal__main-container {
      grid-area: main;
    }

    & .CatalogConfigureModal__cover-art-container {
      grid-area: cover-art;
    }
  }
}