.SpectrogramChart {
  width: 100%;
  height: 100vh;
  max-height: 50rem;

  & .SpectrogramChart__svg-chart, & .SpectrogramChart__canvas-chart {
    position: absolute;
  }

  & .SpectrogramChart__svg-chart {
    & .SpectrogramChart__x-axis, & .SpectrogramChart__y-axis {
      color: white; // TODO: theme
    }

    & .SpectrogramChart__x-axis-label, & .SpectrogramChart__y-axis-label {
      fill: white; // TODO: theme
      font-size: 1.5rem;
    }
  }
}