$perspective-amount: 100px;

.SearchScene {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;

    perspective: $perspective-amount;

    .SearchScene__scene {
        position: relative;

        width: 100%;
        height: 100%;

        perspective: $perspective-amount;

        transform-origin: 50% 50%;

        // This transform should be animated
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        // transform: translateZ(-20px);

        // transition: transform 0.1s;

        & .SearchScene__main-circle {
            $diameter: 110vh;
            $translateX-base: 50%;
            $translateY-base: 50%;

            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) translateZ(0px);

            transition: transform 0.5s;

            width: 110vh;
            height: 110vh;

            border-radius: 50%;

            background-color: #262626;

            @include respond(tab-port) {
                width: 110vw;
                height: 110vw;
            }
        }

        & .SearchScene__arc-container {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            $size: 110vh;
            width: $size;
            height: $size;

            perspective: $perspective-amount;

            & .SearchScene__arc {
                & circle {
                    // stroke: rgb(86, 117, 255);
                    stroke: color-link("SearchScene", "accent", "primary");
                }

                &.primary {
                    & circle {
                        stroke: color-link("SearchScene", "accent", "primary");
                    }
                }

                &.secondary {
                    & circle {
                        stroke: color-link("SearchScene", "accent", "secondary");
                    }
                }

                &.tertiary {
                    & circle {
                        stroke: color-link("SearchScene", "accent", "tertiary");
                    }
                }
            }

            @include respond(tab-port) {
                $size: 110vw;
                width: $size;
                height: $size;
            }
        }
    }
}