$perspective-amount: 100px;
$opacity-duration: 0.8s;

.SearchScene {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;

    perspective: $perspective-amount;

    .SearchScene__scene {
        position: relative;

        width: 100%;
        height: 100%;

        perspective: $perspective-amount;

        transform-origin: 50% 50%;

        // This transform should be animated
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);

        & .SearchScene__main-circle {
            $diameter: 110vh;
            $translateX-base: 50%;
            $translateY-base: 50%;

            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) translateZ(0px);

            width: 110vh;
            height: 110vh;

            border-radius: 50%;

            background-color: #262626;

            @include respond(tab-port) {
                $size: 110vw;
                width: $size;
                height: $size;
            }

            &::after {
                content: "";

                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                border-radius: 50%;

                background: color-link("SearchScene", "gradient", "start");
                background: linear-gradient(135deg, color-link("SearchScene", "gradient", "start") 0%, color-link("SearchScene", "gradient", "end"));

                opacity: 0;
                transition: opacity $opacity-duration ease-in-out;
            }
        }

        & .SearchScene__arcs-container {
            position: absolute;

            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            $size: 110vh;
            width: $size;
            height: $size;

            & .SearchScene__arc-container {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
    
                $size: 110vh;
                width: $size;
                height: $size;

                opacity: 0.5;
    
                perspective: $perspective-amount;

                transition: opacity $opacity-duration ease-in-out;
    
                & .SearchScene__arc {
                    & circle {
                        stroke: color-link("SearchScene", "accent", "primary");
                    }
    
                    &.primary {
                        & circle {
                            stroke: color-link("SearchScene", "accent", "primary");
                        }
                    }
    
                    &.secondary {
                        & circle {
                            stroke: color-link("SearchScene", "accent", "secondary");
                        }
                    }
    
                    &.tertiary {
                        & circle {
                            stroke: color-link("SearchScene", "accent", "tertiary");
                        }
                    }
                }
    
                @include respond(tab-port) {
                    $size: 110vw;
                    width: $size;
                    height: $size;
                }
            }
        }

        &.is-search-view {
            & .SearchScene__main-circle::after {
                opacity: 1;
            }

            & .SearchScene__arcs-container .SearchScene__arc-container {
                opacity: 1;
            }
        }
    }
}