.RecordButton {
  $transition: 0.2s;

  & .RecordButton__center {
    border-radius: 50%;

    background-color: color-link-2("record-button-primary");

    transition: background-color $transition;
  }

  &:hover {
    & .RecordButton__center {
      background-color: color-link-2("record-button-secondary");
    }
  }

  &.disabled {
    & .RecordButton__center {
      background-color: color-link-2("record-button-disabled");
    }
  }
}
