.RecordButton {
    $transition: 0.2s;

    & .RecordButton__center {
        border-radius: 50%;

        background-color: color-link("RecordButton", "accent", "primary");

        transition: background-color $transition;
    }

    &:hover {
        & .RecordButton__center {
            background-color: color-link("RecordButton", "accent", "secondary");
        }
    }

    &.disabled {
        & .RecordButton__center {
            background-color: color-link("RecordButton", "accent", "disabled");
        }
    }
}