.HamburgerMenu {
    $anim-duration: 0.5s;
    position: relative;
    cursor: pointer;

    & .HamburgerMenu__bar {
        position: absolute;
        display: block;
        width: 100%;
        background-color: color-link("HamburgerMenu", "text", "primary");
        border-radius: 2px;
        transition: .3s ease-in-out;
    }

    & .HamburgerMenu__top-bar {
        top: 0;
        left: 0;
        transform: translateY(0);
        opacity: 1;
    }

    & .HamburgerMenu__mid-bar-1 {
        top: 50%;
        transform: translateY(-50%) rotate(0);
    }

    & .HamburgerMenu__mid-bar-2 {
        top: 50%;
        transform: translateY(-50%) rotate(0);
    }

    & .HamburgerMenu__bottom-bar {
        bottom: 0;
        left: 0;
        transform: translateY(0);
        opacity: 1;
    }

    // -----------------
    // --- Modifiers ---
    // -----------------
    
    &.open {
        & .HamburgerMenu__top-bar {
            width: 0;
            left: 50%;
            top: 50%;
            transform: translateY(-50%);
            opacity: 0;
        }

        & .HamburgerMenu__mid-bar-1 {
            transform: translateY(-50%) rotate(45deg);
        }

        & .HamburgerMenu__mid-bar-2 {
            transform: translateY(-50%) rotate(-45deg);
        }

        & .HamburgerMenu__bottom-bar {
            width: 0;
            left: 50%;
            bottom: 50%;
            transform: translateY(50%);
            opacity: 0;
        }
    }

    &.disabled {
        cursor: initial;
        pointer-events: none;

        & .HamburgerMenu__bar {
            background-color: color-link("HamburgerMenu", "text", "secondary");
        }
    }
}