.FingerprintChart {
  width: 100%;
  height: 100vh;
  max-height: 50rem;

  margin-bottom: 3rem;

  & .FingerprintChart__title {
    text-align: center;
    color: white; // TODO: theme
  }

  & .FingerprintChart__container {
    width: 100%;
    height: 100%;

    & .FingerprintChart__svg-chart, & .FingerprintChart__canvas-chart {
      position: absolute;
    }
  
    & .FingerprintChart__svg-chart {
      & .FingerprintChart__x-axis, & .FingerprintChart__y-axis {
        color: white; // TODO: theme
      }
  
      & .FingerprintChart__x-axis-label, & .FingerprintChart__y-axis-label {
        fill: white; // TODO: theme
        font-size: 1.5rem;
      }
    }
  }
}