.SigninForm {
  display: flex;
  flex-direction: column;

  & > *:not(:last-child) {
    margin-bottom: 0.7rem;
  }

  & .SigninForm__title {
    font-size: 2rem;
    font-weight: 600;
  }

  & .SigninForm__global-error-container {
    height: 1.2rem;

    & .SigninForm__global-error {
      text-align: right;
      font-size: 1.2rem;

      color: color-link("SigninForm", "form_error", "primary");
    }
  }

  & .SigninForm__submit-button {
    align-self: flex-end;
  }
}
