.SigninForm {
    display: flex;
    flex-direction: column;

    & > *:not(:last-child) {
        margin-bottom: 0.7rem;
    }

    & .SigninForm__title {
        font-size: 2rem;
        font-weight: 600;
    }

    & .SigninForm__submit-button {
        align-self: flex-end;
    }
}