.CatalogDisplayItem {
  @include register-top-slide-transition(CatalogDisplayItem-anim, 200ms);

  display: grid;
  grid-template-columns: 1.2fr 3fr 3fr 1.5fr 1.5fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "coverArt title artists duration searches";
  align-items: center;
  gap: 1rem;

  font-size: 1.5rem;

  padding: 1rem;

  background-color: color-link("CatalogDisplayItem", "background", "primary");

  // --- Modifiers ---
  &.configurable {
    grid-template-columns: 1.2fr 3fr 3fr 1.5fr 1.5fr 0.5fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "coverArt title artists duration searches config";
  }

  @include respond(phone) {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: 
    "coverArt title"
    "coverArt artists"
    "coverArt searches";

    gap: initial;
    column-gap: 1rem;

    &.configurable {
      grid-template-columns: 1fr 2fr 0.2fr;
      grid-template-rows: auto auto 1fr;
      grid-template-areas: 
      "coverArt title config"
      "coverArt artists artists"
      "coverArt searches searches";
    }
  }
  
  & .CatalogDisplayItem__cover-art {
    grid-area: coverArt;
  }

  & .CatalogDisplayItem__title {
    grid-area: title;

    @include respond(phone) {
      font-weight: bold;
    }
  }

  & .CatalogDisplayItem__artists {
    grid-area: artists;
  }

  & .CatalogDisplayItem__duration {
    grid-area: duration;
    justify-self: center;

    @include respond(phone) {
      grid-area: coverArt;
      
      align-self: end;
      justify-self: end;

      background-color: rgba(0, 0, 0, 0.5);

      padding: 0.2rem 0.4rem;

      margin-bottom: 0.3rem;
      margin-right: 0.3rem;

      font-size: 1.3rem;

      z-index: 1;
    }
  }

  & .CatalogDisplayItem__searches {
    grid-area: searches;
    justify-self: center;

    display: flex;
    flex-direction: row;
    gap: 0.3rem;

    align-items: center;

    & .CatalogDisplayItem__searches-icon {
      color: color-link("CatalogDisplayItem", "selected", "primary");
    }

    @include respond(phone) {
      align-self: end;
      justify-self: end;
    }
  }

  & .CatalogDisplayItem__config {
    grid-area: config;
    position: relative;

    @include respond(phone) {
      align-self: end;
    }

    & .CatalogDisplayItem__config-button {
      
    }

    & .CatalogDisplayItem__config-dropdown {
      position: absolute;
      top: 100%;
      right: 0;
      min-width: 100%;

      display: flex;
      flex-direction: column;
      gap: 0.3rem;

      padding: 0.8rem 1.7rem;
      margin-top: 0.3rem;
      border-radius: 0.2rem;

      overflow: auto;

      background-color: color-link("CatalogDisplayItem", "background", "tertiary");

      box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);

      z-index: 1;
    }
  }

  
}