#AccountCatalog {
  & .AccountCatalog__content {
    & .AccountCatalog__container {
      & > *:not(:last-child):not(:nth-child(1)) {
        margin-bottom: 1rem;
      }

      & .AccountCatalog__navigation {
        display: flex;
        flex-direction: row;

        & > *:not(:last-child) {
          margin-right: 0.7rem;
        }
      }

      & .AccountCatalog__header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;

        & > *:not(:last-child) {
          margin-right: 1rem;
        }

        & .AccountCatalog__create-button {
          width: auto;
        }
      }
    }

    & .AccountCatalog__result-container {
      margin-top: 0.6rem;
    }
  }
}