@mixin register-fade-transition($prefix, $duration: 1000ms) {
  @keyframes #{$prefix}FadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes #{$prefix}FadeOut {
    to {
      opacity: 0;
    }
  }

  .#{$prefix}-enter {
    position: absolute;
  }

  .#{$prefix}-enter-active {
    animation: #{$prefix}FadeIn #{$duration} ease both;
    z-index: 2;
  }

  @if $direction == "both" or $direction == "out" {
    .#{$prefix}-exit {
      position: absolute;
    }

    .#{$prefix}-exit-active {
      animation: #{$prefix}FadeOut #{$duration} ease both;
      z-index: 1;
    }
  }
}
