@import "../utils.scss";

@mixin register-fade-transition($prefix, $direction: "both", $duration: 1) {
    @include check-direction($direction);

    @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
    }
    @keyframes fadeOut { 
        to { opacity: 0 }
    }

    @if $direction == "both" or $direction == "in" {
        .#{$prefix}-enter {
            position: absolute;
        }

        .#{$prefix}-enter-active {
            animation: fadeIn #{$duration}s ease both;
            z-index: 2;
        }
    }

    @if $direction == "both" or $direction == "out" {
        .#{$prefix}-exit {
            position: absolute;
        }

        .#{$prefix}-exit-active {
            animation: fadeOut #{$duration}s ease both;
            z-index: 1;
        }
    }
}