.CircularButton {
    $size: 4rem;
    $transition: 0.2s;

    width: $size;
    height: $size;

    cursor: pointer;

    & circle {
        stroke: color-link("CircularButton", "text", "primary");

        transition: stroke $transition !important;
    }

    & .CircularButton__center-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &:hover {
        & circle {
            stroke: color-link("CircularButton", "selected", "primary");
        }
    }

    &.disabled {
        pointer-events: none;

        & circle {
            stroke: color-link("CircularButton", "text", "disabled");
        }
    }
}