{
  "extends": "eslint:recommended",
  "rules": {
    "max-len": [
      "warn",
      {
        "code": 80,
        "comments": 80,
        "ignoreRegExpLiterals": true,
        "ignoreTemplateLiterals": true,
        "ignoreStrings": true,
        "ignoreUrls": true
      }
    ]
  }
}
