.BenchmarkResultTable {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .BenchmarkResultTable__table {
    width: 100%;
    max-width: 60rem;

    font-size: 1.7rem;

    display: grid;
    grid-template-columns: 
      [iteration-col-start] 
      1fr [iteration-col-end itr-col-start] 
      1fr [itr-col-end func-col-start] 
      1fr [func-col-end wasm-col-start] 
      1fr [wasm-col-end];
    column-gap: 1rem;
    row-gap: 0.3rem;

    // General cells

    & .BenchmarkResultTable__header-cell {
      padding: 0.3rem 0 0.3rem 0;
      justify-self: center;
      color: color-link("BenchmarkResultTable", "text", "primary");

      grid-row: 1 / span 1;

      z-index: 2;
    }

    & .BenchmarkResultTable__table-cell {
      padding: 0.3rem 0 0.3rem 0;
      justify-self: center;

      color: color-link("BenchmarkResultTable", "text", "primary");

      z-index: 2;
    }

    & .BenchmarkResultTable__data-cell {
      color: color-link("BenchmarkResultTable", "text", "secondary");
    }

    & .BenchmarkResultTable__average-cell {
      font-weight: bold;
    }

    // Specific cells

    & .BenchmarkResultTable__iteration-header, & .BenchmarkResultTable__iteration-cell {
      grid-column: iteration-col-start / iteration-col-end;
    }

    & .BenchmarkResultTable__itr-header, & .BenchmarkResultTable__itr-cell {
      grid-column: itr-col-start / itr-col-end;
    }

    & .BenchmarkResultTable__func-header, & .BenchmarkResultTable__func-cell {
      grid-column: func-col-start / func-col-end;
    }

    & .BenchmarkResultTable__wasm-header, & .BenchmarkResultTable__wasm-cell {
      grid-column: wasm-col-start / wasm-col-end;
    }


    & .BenchmarkResultTable__row-bg {
      &.even {
        background-color: color-link("BenchmarkResultTable", "background", "primary");
      }

      &.odd {
        background-color: color-link("BenchmarkResultTable", "background", "secondary");
      }

      z-index: 1;
    }
  }
}
