.FormButton {
  $transition-time: 0.3s;

  // Clear default button styles
  background: none;
  outline: none;
  border: none;
  color: inherit;
  font-weight: inherit;
  font-size: inherit;

  cursor: pointer;

  padding: 0.5rem 2rem;

  color: color-link-2("text-primary");
  background-color: color-link-2("form-button-bg-primary");

  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.3);

  transition: background-color $transition-time, color $transition-time;

  &.secondary {
    background-color: color-link-2("form-button-bg-secondary");
  }

  &:hover {
    background-color: color-link("form-button-accent");
  }

  &:disabled {
    pointer-events: none;

    color: color-link("FormButton", "text", "disabled");
    background-color: color-link("form-button-bg-disabled");
  }
}
