.PaginationControls {
  display: grid;
  grid-template-columns: repeat(var(--num-pages), 1fr);
  grid-template-rows: auto;
  justify-items: center;
  align-items: stretch;

  gap: 0.5rem;

  & > * {
    width: 100% !important;
  }

  & .PaginationControls__ellipses {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    & > svg {
      width: 2rem;
      height: 2rem;
      align-self: flex-end;
    }
  }
}