.ErrorMessageLabel {
  font-size: 1.2rem;
  text-align: right;
  font-weight: 400;

  color: color-link("FormInput", "form_error", "primary");

  opacity: 1;

  transition: opacity 0.3s;

  &.hidden {
    opacity: 0;
  }
}