.NavItem {
  $transition-time: 0.2s;

  font-weight: 600;
  font-size: 1.7rem;

  color: color-link-2("text-secondary");

  transition: color $transition-time;

  &:hover {
    color: color-link-2("selected-primary");
  }
}
