.AccountControls {
  @include register-top-slide-transition(AccountControls-anim, 200ms);

  position: relative;

  font-size: 1.7rem;

  & .AccountControls__logged-out {
    & > *:not(:last-child) {
      margin-right: 1rem;
    }
  }

  & .AccountControls__logged-in {
    display: flex;
    flex-direction: row;
    align-items: center;

    cursor: pointer;

    color: color-link("AccountControls", "text", "primary");

    transition: color 0.3s;

    & .AccountControls__expand-icon {
      color: color-link("IconButton", "selected", "primary");

      width: 2rem;
      height: 2rem;
    }

    &:hover {
      color: color-link("IconButton", "selected", "primary");
    }
  }

  & .AccountControls__dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 100%;

    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    padding: 0.8rem 1.7rem;
    margin-top: 0.3rem;
    border-radius: 0.2rem;

    overflow: auto;

    background-color: color-link("AccountControls", "background", "tertiary");

    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);

    z-index: -1;
  }
}
