.NumberInput {
  display: flex;
  flex-direction: row;

  width: 100%;

  box-shadow: 0 4px 3px -1px rgba(0, 0, 0, 0.5);

  & .NumberInput__input {
    // Style reset
    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    -moz-appearance: textfield;
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    flex-grow: 1;
    flex-shrink: 1;

    font-size: 1.7rem;

    text-align: center;
    color: color-link("NumberInput", "color", "primary");
    background-color: color-link("NumberInput", "background", "primary");

    padding: 0.5rem;

    width: 100%;

    transition: background-color 0.2s;

    &:focus {
      // Style reset
      outline: none;
    }
  }

  & .NumberInput__control {
    flex-grow: 1;
    flex-shrink: 1;

    background-color: color-link("NumberInput", "accent", "primary");

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 1rem;

    cursor: pointer;

    transition: background-color 0.2s;

    & svg {
      $size: 2.5rem;
      width: $size;
      height: $size;
    }

    &:hover {
      background-color: color-link("NumberInput", "accent", "secondary");
    }

    &:active {
      background-color: color-link("NumberInput", "accent", "tertiary");
    }
  }

  &.focussed {
    
  }

  &.disabled {
    & .NumberInput__input {
      background-color: color-link("NumberInput", "background", "disabled");
    }

    & .NumberInput__control {
      pointer-events: none;

      background-color: color-link("NumberInput", "accent", "disabled");
    }
  }
}